@use '../abstracts' as *;

// BEM Block: .btn
// BEM Modifier: .btn--primary
.btn {
    &--primary {
        border: 1px solid $color-primary;
        background-color: $color-secondary;
        color: $color-text-inverse;
        padding: to-rem(8) to-rem(16);
        font-family: $font-primary;
        font-weight: $font-weight-bold;
        text-align: center;
        text-decoration: none;
        transition: opacity 0.3s ease;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }

        &:focus-visible {
            outline: 2px solid $color-primary;
            outline-offset: to_rem(4);
        }
    }
}
