@use '../abstracts' as *;

.latest-releases {
    background-color: $color-bg-main;
    width: 100%;

    &__title {
        text-align: center;
        color: $color-secondary;
        font-family: $font-primary;
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
        padding: 20px 0;
        margin: 0;
        text-transform: uppercase;

        @include breakpoint-up('tablet') {
            font-size: $font-size-xl;

            padding: 32px 0;
        }

        @include breakpoint-up('desktop') {
            font-size: 32px;
        }
    }

    &__wrapper {
        background-color: $color-bg-alt;
        padding: 12px 16px 48px;
        width: 100%;

        @include breakpoint-up('tablet') {
            padding: 48px 24px 64px;
        }

        @include breakpoint-up('desktop') {
            padding: 103px 24px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint-up('tablet') {
            gap: 48px;
        }

        @include breakpoint-up('desktop') {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            max-width: 1342px;
            margin: 0 auto;
            gap: 112px;
        }
    }

    &__slider {
        width: 84%;
        padding-bottom: 15px;

        position: relative;

        --swiper-navigation-size: 16px;

        @include breakpoint-up('desktop') {
            width: 669px;
            flex-shrink: 0;
            padding-bottom: 0;
            --swiper-navigation-size: 20px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            width: auto;

            img {
                width: 179px;
                height: auto;
                box-shadow: $shadow-card;

                @include breakpoint-up('tablet') {
                    width: 192px;
                }

                @include breakpoint-up('desktop') {
                    width: 180px;
                    height: 253.51px;
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 15px;
            height: 40px;
            margin-top: -42px;
            background-color: $color-primary;
            border-radius: 50%;
            color: #ffffff;
            box-shadow: $shadow-card;

            &.swiper-button-disabled {
                opacity: 0.35;
            }

            @include breakpoint-up('desktop') {
                width: 48px;
                height: 48px;
                margin-top: -24px;
            }
        }

        .swiper-button-prev {
            left: 8px;
        }

        .swiper-button-next {
            right: 8px;
        }

        .swiper-pagination {
            position: static;
            margin-bottom: 16px;
        }

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background-color: $color-primary;
            opacity: 0.5;

            &-active {
                opacity: 1;
            }
        }
    }
}
