@use 'functions' as *;

$breakpoint-tablet: 64rem;
$breakpoint-desktop: 108rem;

// 1. BASE COLOR PALETTE

/// @access private (Do NOT use directly in CSS rules)
$blue-dark: #002f52;
$blue-light: #326589;
$orange-main: #eb9b00;
$white-pure: #ffffff;
$black-pure: #000000;
$grey-light: #f9f9f9;
$grey-bg-alt: #ebecee;
$grey-medium: #858585;
$grey-dark: #474646;

// 2. SEMANTIC COLOR TOKENS

/// @access public (USE THESE in your components)
$color-primary: $blue-dark;
$color-secondary: $orange-main;
$color-bg-main: $white-pure;
$color-bg-alt: $grey-bg-alt;
$color-bg-muted: $grey-light;
$color-text-main: $black-pure;
$color-text-muted: $grey-medium;
$color-text-dark: $grey-dark;
$color-text-inverse: $white-pure;

// 3. GRADIENTS

/// @type Color
$gradient-primary: linear-gradient(90deg, $blue-dark 0%, $blue-light 100%);

// 4. TYPOGRAPHY

$font-primary: 'Poppins', sans-serif;
$font-logo: 'Josefin Sans', sans-serif;

/// Font weights extracted from Figma.
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xs: to_rem(14);
$font-size-sm: to_rem(16); // 1rem
$font-size-md: to_rem(18);
$font-size-lg: to_rem(24);
$font-size-xl: to_rem(26);
$font-size-xxl: to_rem(30);
$font-size-3xl: to_rem(32);
$font-size-4xl: to_rem(36);

$line-height-tight: 1;
$letter-spacing-none: 0%;

// 5. SHADOWS

/// @type List
$shadow-dropdown: 0px 8px 64px 8px rgba(0, 0, 0, 0.25);

/// @type List
$shadow-card: 2px 4px 8px 0px rgba(0, 0, 0, 0.15);
